[user]
	email = andreas.kellers@gmail.com
	name = Andreas Kellers
[push]
	default = simple
[http]
	sslVerify = false
[gui]
	fontui = -family \"Bitstream Vera Sans\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
[url "https://"]
	insteadOf = git://
[init]
	defaultBranch = main
[credential]
	helper = cache
[url "https://akellers:<INSERT GITHUB TOKEN HERE>@github.com/"]
	insteadOf = https://github.com/
